:root {
    --nav_bar_height: 50px;
}

.Browse-Container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    /* height: 0;
    min-height: 100%; */
    overflow: hidden;
}

.Browse-Filter-Container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: scroll;
    border-right-style: solid;
}

.Browse-Filter-Container > div {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}


.Genre-Container {
    display: flex;
    flex-direction: column !important;
    align-items: stretch;
}

.Browse-Filter-Container > div > p {
    margin: 0px;
    margin-right: 10px;
}

.Input-Field {
    /* width: 100%; */
    /* max-height: 16px; */
    max-width: 164px;
    width: 100%;
    flex-grow: 0;
}

.Book-Card-Container {
    display: grid;
    grid-template-columns: auto 120px;
    grid-template-rows: 100%;
    border-style: solid;
    border-width: 1px;
    /* border-color: #ee7b30; */
    flex-grow: 0;
    margin: 10px;
    padding: 10px;
    background-color: #eeeeff;
    /* box-shadow:  0px 10px 17px -7px rgba(0,0,0,0.75); */
}

.Book-Card-Container > .Buttons-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Book-Card-Container > .Info-Container {
    display: flex;
    flex-direction: column;
}

.Info-Container > div {
    overflow: hidden;
    text-wrap: nowrap;
    box-sizing: border-box;
    width: 0;
    min-width: 100%;
    text-overflow: ellipsis;
}

.Buttons-Container > button {
    flex-grow: 1;
    /* border-radius: 0; */
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    /* background-color: #edeba0; */
}

.Browse-Results-Container {
    grid-template-columns: auto;
    grid-template-rows: auto, auto;
    /* height: 0;
    min-height: 100%; */
    position: relative;
    overflow: hidden;
}

.Result-Page-Nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    column-gap: 10px;
    overflow: hidden;
}

.Page-Display {
    flex-shrink: 0;
}

.Result-Page-Bar {
    display: grid;
    flex-grow: 0;
    height: var(--nav_bar_height);
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.Result-Page-Stats {
    text-align: center;
}

.Result-Page-Container {
    height: 0;
    min-height: calc(100% - var(--nav_bar_height));
    overflow: scroll;
}

.Book-Info-Popout {
    position: absolute;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    right: 0px;
    bottom: 0px;
    top: var(--nav_bar_height);
}

.Book-Info-Popout > div {
    /* background-color: gainsboro; */
    padding: 10px;
    border-radius: 3px;
}

.Info-Table {
    border-width: 1px;
    border-collapse: collapse;
}

.Info-Table th, .Info-Table td {
    padding: 3px;
}